#http://github.com/sshwsfc/django-xadmin/archive/master.zip
xlwt
django==1.9.0
django-contrib-comments
django-reversion
django-mptt
dj-database-url==0.2.0
django-decouple
mysql-python
django-multiselectfield
Pillow